n8n/workflows/day2_rag_fiabilite.json
{
  "name": "Jour 2 - Fiabilité et RAG",
  "nodes": [
    {
      "parameters": {
        "content": "## Jour 2 - Fiabilite et RAG\n\nFlux réduit:\n1. Chat Trigger\n2. Question documentaire\n3. Retriever Qdrant\n4. Vector Store Retriever\n5. Question and Answer Chain\n6. Synthese sourcée\n\nLe corpus est déjà préparé par le formateur: le workflow ne refait pas l'indexation, il interroge la collection autorisée et impose des citations.",
        "height": 260,
        "width": 600,
        "color": 5
      },
      "id": "day2-note-overview",
      "name": "Vue d'ensemble",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {},
      "id": "day2-chat-trigger",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1,
      "position": [
        260,
        380
      ],
      "webhookId": "ab8adf8f-06b0-4f71-8dd3-410e7f29f3b3"
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "day2-question",
              "name": "chatInput",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            },
            {
              "id": "day2-hint",
              "name": "source_hint",
              "value": "Corpus pedagogique RH/paie deja prepare, collection dsn_rh_paie_corpus_v1.",
              "type": "string"
            },
            {
              "id": "day2-format",
              "name": "format_attendu",
              "value": "Reponse courte, citations des sources retrouvees, niveau de confiance et limites.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "day2-question-node",
      "name": "Question documentaire",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        520,
        380
      ]
    },
    {
      "parameters": {
        "mode": "retrieve",
        "qdrantCollection": {
          "__rl": true,
          "value": "dsn_rh_paie_corpus_v1",
          "mode": "id"
        },
        "options": {
          "contentPayloadKey": "content",
          "metadataPayloadKey": "metadata"
        }
      },
      "id": "day2-qdrant-retriever",
      "name": "Retriever Qdrant",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        820,
        620
      ],
      "credentials": {
        "qdrantApi": {
          "id": "qdrantFormation",
          "name": "Qdrant Formation"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {
          "baseURL": "={{ $env.OPENAI_GATEWAY_BASE_URL || 'https://api.openai.com/v1' }}"
        }
      },
      "id": "day2-embeddings",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        820,
        1040
      ],
      "credentials": {
        "openAiApi": {
          "id": "llBbatZjnM6zdCyD",
          "name": "OpenAI Liora Gateway"
        }
      }
    },
    {
      "parameters": {
        "topK": 6
      },
      "id": "day2-vector-store-retriever",
      "name": "Vector Store Retriever",
      "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
      "typeVersion": 1,
      "position": [
        820,
        840
      ]
    },
    {
      "parameters": {
        "query": "={{ $json.chatInput }}",
        "options": {
          "systemPromptTemplate": "Tu es un assistant documentaire pour audit paie/RH. Utilise uniquement le contexte récupéré ci-dessous.\n----------------\nContexte retrouve: {context}\n----------------\nRegles de reponse:\n- Cite les identifiants de regles et les preuves attendues presentes dans le contexte.\n- Reponds en francais avec une reponse courte, une ou plusieurs citations, un niveau de confiance et des limites.\n- Si la source est insuffisante, dis-le explicitement et n'invente rien."
        },
        "promptType": "auto"
      },
      "id": "day2-qa",
      "name": "Question and Answer Chain",
      "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
      "typeVersion": 1.7,
      "position": [
        1080,
        380
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "id"
        },
        "options": {
          "temperature": 0
        }
      },
      "id": "day2-openai",
      "name": "OpenAI Gateway",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1080,
        620
      ],
      "credentials": {
        "openAiApi": {
          "id": "llBbatZjnM6zdCyD",
          "name": "OpenAI Liora Gateway"
        }
      }
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "day2-answer",
              "name": "reponse_sourcée",
              "value": "={{ $json.response ?? $json.text ?? $json.output ?? $json }}",
              "type": "string"
            },
            {
              "id": "day2-method",
              "name": "methode_rag",
              "value": "Chat Trigger -> Set -> Qdrant Retriever -> Vector Store Retriever -> Question and Answer Chain",
              "type": "string"
            },
            {
              "id": "day2-limits",
              "name": "limites",
              "value": "Refuser si la source est insuffisante et verifier que les citations proviennent bien du corpus.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "day2-output",
      "name": "Synthese sourcée",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1340,
        380
      ]
    }
  ],
  "connections": {
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "Question documentaire",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Question documentaire": {
      "main": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Question and Answer Chain": {
      "main": [
        [
          {
            "node": "Synthese sourcée",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retriever Qdrant": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Retriever",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Retriever Qdrant",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Retriever": {
      "ai_retriever": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Gateway": {
      "ai_languageModel": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "description": "Jour 2 - Fiabilite et RAG: chat-first, corpus deja prepare, retrieval Qdrant autorise et reponse courte avec citations et limites."
  }
}
