n8n/workflows/day2_rag_fiabilite.json
{
  "name": "Jour 2 - Fiabilité et RAG",
  "nodes": [
    {
      "parameters": {
        "content": "## Jour 2 - Fiabilité et RAG\n\nFlux comparatif :\n1. Chat Trigger ou Déclencheur Manuel\n2. Question documentaire\n3. Réponse libre (sans source)\n4. Préparer recherche sourcée\n5. Retriever Qdrant + QA Chain\n6. Synthèse comparative\n\nLe corpus est déjà préparé par le formateur. Le workflow compare une réponse plausible avec une réponse sourcée et bornée.",
        "height": 280,
        "width": 620,
        "color": 5
      },
      "id": "day2-note-overview",
      "name": "Vue d'ensemble",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {},
      "id": "day2-chat-trigger",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1,
      "position": [
        260,
        320
      ],
      "webhookId": "ab8adf8f-06b0-4f71-8dd3-410e7f29f3b3"
    },
    {
      "parameters": {},
      "id": "day2-manual-trigger",
      "name": "Déclencheur Manuel",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        260,
        520
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "day2-manual-input",
              "name": "chatInput",
              "value": "Dans le corpus, quelle règle décrit qu'un écart de plus de 5% entre base_urssaf et salaire_brut devient une exception d'audit ? Cite l'identifiant de règle, la preuve attendue et la limite de la réponse.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "day2-manual-input-node",
      "name": "Entrée de test mainteneur",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        520,
        520
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "day2-question",
              "name": "chatInput",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            },
            {
              "id": "day2-question-free",
              "name": "question_libre",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            },
            {
              "id": "day2-question-rag",
              "name": "question_sourcee",
              "value": "={{ (() => { const q = ($json.chatInput || '').toString(); const l = q.toLowerCase(); if (l.includes('urssaf') && (l.includes('5%') || l.includes('salaire_brut') || l.includes('base_urssaf'))) return q + ' Source IDs prioritaires: URSSAF-CTRL-001, AUDIT-EVIDENCE-001. Mots-clés: base_urssaf, salaire_brut, écart 5 pourcent, audit exception, preuve attendue.'; if (l.includes('urssaf') && (l.includes('montant') || l.includes('taux'))) return q + ' Source IDs prioritaires: URSSAF-CTRL-002, AUDIT-EVIDENCE-001. Mots-clés: montant_urssaf, base_urssaf, taux_urssaf, montant attendu, preuve attendue.'; if (l.includes('sortie') || l.includes('actif')) return q + ' Source ID prioritaire: CTRL-008 / EXC_EXITED_EMPLOYEE_ACTIVE. Mots-clés: date_sortie, statut_paie, ACTIF, audit exception, preuve.'; return q + ' Source IDs utiles: URSSAF-CTRL-001, URSSAF-CTRL-002, AUDIT-EVIDENCE-001, CTRL-008. Cite la règle et la preuve attendue si elles sont trouvées.'; })() }}",
              "type": "string"
            },
            {
              "id": "day2-source-hint",
              "name": "source_ids_hint",
              "value": "URSSAF-CTRL-001, URSSAF-CTRL-002, AUDIT-EVIDENCE-001, CTRL-008",
              "type": "string"
            },
            {
              "id": "day2-format",
              "name": "format_attendu",
              "value": "Réponse courte, citations des sources retrouvées, niveau de confiance et limites.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "day2-question-node",
      "name": "Question documentaire",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        520,
        380
      ]
    },
    {
      "parameters": {
        "prompt": {
          "values": [
            {
              "type": "HumanMessagePromptTemplate",
              "message": "={{ $json.question_libre }}"
            }
          ]
        },
        "options": {
          "systemMessage": "Tu réponds sans accès à une source documentaire externe. Réponds en français, de façon prudente et concise. N'invente pas d'identifiant de règle ou de preuve documentaire. Si tu n'es pas sûr, dis explicitement que la réponse est plausible mais non sourcée."
        }
      },
      "id": "day2-free-answer",
      "name": "Réponse libre",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        820,
        260
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "day2-prepare-q",
              "name": "question_sourcee",
              "value": "={{ $('Question documentaire').item.json.question_sourcee }}",
              "type": "string"
            },
            {
              "id": "day2-prepare-chatinput",
              "name": "chatInput",
              "value": "={{ $('Question documentaire').item.json.question_sourcee }}",
              "type": "string"
            },
            {
              "id": "day2-prepare-original",
              "name": "question_initiale",
              "value": "={{ $('Question documentaire').item.json.chatInput }}",
              "type": "string"
            },
            {
              "id": "day2-prepare-sources",
              "name": "source_ids_hint",
              "value": "={{ $('Question documentaire').item.json.source_ids_hint }}",
              "type": "string"
            },
            {
              "id": "day2-prepare-free",
              "name": "reponse_libre",
              "value": "={{ $json.text ?? $json.output ?? $json.response ?? $json }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "day2-prepare-rag-node",
      "name": "Préparer recherche sourcée",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        820,
        460
      ]
    },
    {
      "parameters": {
        "query": "={{ $json.question_sourcee }}",
        "options": {
          "systemPromptTemplate": "Tu es un assistant documentaire pour audit paie/RH. Utilise uniquement le contexte récupéré ci-dessous.\n----------------\nContexte retrouvé: {context}\n----------------\nRègles de réponse :\n- Si la question mentionne un écart > 5% entre base_urssaf et salaire_brut, cherche en priorité `URSSAF-CTRL-001`.\n- Si la question mentionne un montant URSSAF observé vs montant attendu, cherche en priorité `URSSAF-CTRL-002`.\n- Si la question mentionne une preuve attendue pour une exception, cherche aussi `AUDIT-EVIDENCE-001`.\n- Si la question mentionne date de sortie et statut ACTIF, cherche la règle de type `CTRL-008` ou la note sorties/statut.\n- Cite les identifiants de règles réellement présents dans le contexte.\n- Réponds en français avec : réponse courte, citations, niveau de confiance, limites.\n- Si la source est insuffisante, dis-le explicitement et n'invente rien."
        },
        "promptType": "auto"
      },
      "id": "day2-qa",
      "name": "Question and Answer Chain",
      "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
      "typeVersion": 1.7,
      "position": [
        1120,
        460
      ]
    },
    {
      "parameters": {
        "mode": "retrieve",
        "qdrantCollection": {
          "__rl": true,
          "value": "dsn_rh_paie_corpus_v1",
          "mode": "id"
        },
        "options": {
          "contentPayloadKey": "content",
          "metadataPayloadKey": "metadata"
        }
      },
      "id": "day2-qdrant-retriever",
      "name": "Retriever Qdrant",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        1120,
        760
      ],
      "credentials": {
        "qdrantApi": {
          "id": "qdrantFormation",
          "name": "Qdrant Formation"
        }
      }
    },
    {
      "parameters": {
        "topK": 8
      },
      "id": "day2-vector-store-retriever",
      "name": "Vector Store Retriever",
      "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
      "typeVersion": 1,
      "position": [
        1120,
        920
      ]
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {
          "baseURL": "={{ $env.OPENAI_GATEWAY_BASE_URL || 'https://api.openai.com/v1' }}"
        }
      },
      "id": "day2-embeddings",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1120,
        1080
      ],
      "credentials": {
        "openAiApi": {
          "id": "llBbatZjnM6zdCyD",
          "name": "OpenAI Liora Gateway"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "id"
        },
        "options": {
          "temperature": 0
        }
      },
      "id": "day2-openai",
      "name": "OpenAI Gateway",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        820,
        760
      ],
      "credentials": {
        "openAiApi": {
          "id": "llBbatZjnM6zdCyD",
          "name": "OpenAI Liora Gateway"
        }
      }
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "day2-final-question",
              "name": "question_initiale",
              "value": "={{ $('Préparer recherche sourcée').item.json.question_initiale }}",
              "type": "string"
            },
            {
              "id": "day2-final-free",
              "name": "reponse_libre",
              "value": "={{ $('Préparer recherche sourcée').item.json.reponse_libre }}",
              "type": "string"
            },
            {
              "id": "day2-final-sourced",
              "name": "reponse_sourcee",
              "value": "={{ $json.response ?? $json.text ?? $json.output ?? $json }}",
              "type": "string"
            },
            {
              "id": "day2-final-sources-hint",
              "name": "sources_attendues",
              "value": "={{ $('Préparer recherche sourcée').item.json.source_ids_hint }}",
              "type": "string"
            },
            {
              "id": "day2-final-comment",
              "name": "comparaison_fiabilite",
              "value": "La réponse sourcée doit être préférée si elle cite réellement une règle du corpus ou refuse explicitement d’inventer.",
              "type": "string"
            },
            {
              "id": "day2-final-method",
              "name": "methode_rag",
              "value": "Question documentaire -> Réponse libre -> Retriever Qdrant -> Vector Store Retriever -> Question and Answer Chain -> Synthèse comparative",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "day2-output",
      "name": "Synthèse comparative",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1400,
        460
      ]
    }
  ],
  "connections": {
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "Question documentaire",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Déclencheur Manuel": {
      "main": [
        [
          {
            "node": "Entrée de test mainteneur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Entrée de test mainteneur": {
      "main": [
        [
          {
            "node": "Question documentaire",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Question documentaire": {
      "main": [
        [
          {
            "node": "Réponse libre",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Réponse libre": {
      "main": [
        [
          {
            "node": "Préparer recherche sourcée",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Préparer recherche sourcée": {
      "main": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Question and Answer Chain": {
      "main": [
        [
          {
            "node": "Synthèse comparative",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retriever Qdrant": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Retriever",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Retriever Qdrant",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Retriever": {
      "ai_retriever": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Gateway": {
      "ai_languageModel": [
        [
          {
            "node": "Réponse libre",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Question and Answer Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "description": "Jour 2 - Fiabilité et RAG: comparaison entre réponse libre et réponse sourcée sur corpus Qdrant déjà prêt, avec citations, confiance et limites."
  }
}
