n8n/workflows/day5_agents_hitl.json
{
  "name": "Jour 5 - Agents et validation humaine",
  "nodes": [
    {
      "parameters": {},
      "id": "d5-trigger",
      "name": "Déclencheur Manuel",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        120,
        400
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "includeOtherFields": true,
        "assignments": {
          "assignments": [
            {
              "id": "d5-system-chat",
              "name": "chatInput",
              "value": "Agent rédacteur : rédige une synthèse courte à partir du cas d'audit ci-dessous.\n\nCas: exception EXC_URSSAF_AMOUNT_INCONSISTENT.\nConstat: montant URSSAF observé different du montant attendu base_urssaf * taux_urssaf.\nLimites: pas d'invention de faits, pas de décision finale, pas de source externe.\nRetour attendu: un brouillon lisible pour revue humaine.",
              "type": "string"
            },
            {
              "id": "d5-system-role",
              "name": "systemMessage",
              "value": "Tu es un agent rédacteur d'audit paie. Tu travailles sur un seul cas, tu restes factuel, tu ne fabriques aucune preuve et tu n'approuves jamais la décision finale. Réponds en français avec un brouillon de synthèse, les limites et le statut de validation humaine requis.",
              "type": "string"
            },
            {
              "id": "d5-system-note",
              "name": "validation_humaine_requise",
              "value": "true",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d5-system",
      "name": "Prompt système",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        360,
        400
      ]
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "={{ $json.systemMessage }}"
        }
      },
      "id": "d5-agent-redacteur",
      "name": "Agent rédacteur",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        900,
        400
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "id"
        },
        "options": {
          "temperature": 0
        }
      },
      "id": "d5-openai",
      "name": "OpenAI Gateway",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        900,
        620
      ],
      "credentials": {
        "openAiApi": {
          "id": "llBbatZjnM6zdCyD",
          "name": "OpenAI Liora Gateway"
        }
      }
    },
    {
      "parameters": {
        "resume": "form",
        "formTitle": "Validation humaine — Jour 5",
        "formDescription": "Validez ou rejetez la synthèse du brouillon produit par l'agent unique. La décision finale reste humaine.",
        "formFields": {
          "values": [
            {
              "fieldType": "dropdown",
              "fieldLabel": "Décision",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Valider"
                  },
                  {
                    "option": "Rejeter"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldType": "textarea",
              "fieldLabel": "Commentaire",
              "requiredField": false
            }
          ]
        },
        "options": {}
      },
      "id": "d5-validation",
      "name": "Validation humaine",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1180,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "d5-decision",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json[\"Décision\"] }}",
              "rightValue": "Valider"
            }
          ]
        },
        "options": {}
      },
      "id": "d5-if-decision",
      "name": "Décision validée ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1420,
        400
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "d5-ok-status",
              "name": "statut",
              "value": "synthese_validee",
              "type": "string"
            },
            {
              "id": "d5-ok-output",
              "name": "synthese_finale",
              "value": "={{ $('Agent rédacteur').item.json.output ?? $('Agent rédacteur').item.json.text ?? $('Agent rédacteur').item.json }}",
              "type": "string"
            },
            {
              "id": "d5-ok-comment",
              "name": "commentaire_humain",
              "value": "={{ $json[\"Commentaire\"] ?? '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d5-valid",
      "name": "Synthèse validée",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1660,
        300
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "d5-ko-status",
              "name": "statut",
              "value": "synthese_rejetee",
              "type": "string"
            },
            {
              "id": "d5-ko-output",
              "name": "synthese_brouillon",
              "value": "={{ $('Agent rédacteur').item.json.output ?? $('Agent rédacteur').item.json.text ?? $('Agent rédacteur').item.json }}",
              "type": "string"
            },
            {
              "id": "d5-ko-comment",
              "name": "motif_rejet",
              "value": "={{ $json[\"Commentaire\"] ?? 'Motif non renseigné' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d5-rejected",
      "name": "Synthèse rejetée",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1660,
        500
      ]
    }
  ],
  "connections": {
    "Déclencheur Manuel": {
      "main": [
        [
          {
            "node": "Prompt système",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt système": {
      "main": [
        [
          {
            "node": "Agent rédacteur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent rédacteur": {
      "main": [
        [
          {
            "node": "Validation humaine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validation humaine": {
      "main": [
        [
          {
            "node": "Décision validée ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Décision validée ?": {
      "main": [
        [
          {
            "node": "Synthèse validée",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Synthèse rejetée",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Gateway": {
      "ai_languageModel": [
        [
          {
            "node": "Agent rédacteur",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "description": "Jour 5 - Agents et validation humaine: un seul agent, son nœud modèle requis, un prompt système, une pause HITL et une bifurcation valider/rejeter."
  }
}
