n8n/workflows/day7_final_project.json
{
  "name": "Jour 7 - Projet final",
  "nodes": [
    {
      "parameters": {
        "content": "## Jour 7 - Projet final\n\nFlux d'assemblage réel :\n1. Entrée de scénario\n2. Qualification de l'exception (brique J4)\n3. Préparer question documentaire\n4. Récupérer la règle/source (brique J2)\n5. Agent rédacteur\n6. Validation humaine\n7. Branche validée ou rejetée\n\nLe workflow réutilise des briques réelles déjà comprises. Il n'indexe pas le corpus et n'expose pas d'infrastructure cachée aux apprenants.",
        "height": 300,
        "width": 700,
        "color": 5
      },
      "id": "d7-note-overview",
      "name": "Vue d'ensemble",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {},
      "id": "d7-trigger",
      "name": "Déclencheur Manuel",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        120,
        420
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "d7-exception-id",
              "name": "exception_id",
              "value": "EXC_URSSAF_AMOUNT_INCONSISTENT",
              "type": "string"
            },
            {
              "id": "d7-row-id",
              "name": "row_id",
              "value": "ROW-0008",
              "type": "string"
            },
            {
              "id": "d7-base",
              "name": "base_urssaf",
              "value": 4000,
              "type": "number"
            },
            {
              "id": "d7-rate",
              "name": "taux_urssaf",
              "value": 0.1,
              "type": "number"
            },
            {
              "id": "d7-observed",
              "name": "montant_urssaf_observe",
              "value": 100,
              "type": "number"
            },
            {
              "id": "d7-source-id",
              "name": "source_id_cible",
              "value": "URSSAF-CTRL-002",
              "type": "string"
            },
            {
              "id": "d7-scenario",
              "name": "chatInput",
              "value": "À partir d'une exception URSSAF, produis un brouillon de synthèse d'audit avec règle citée, limite explicite et validation humaine finale.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d7-input",
      "name": "Entrée de scénario",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        360,
        420
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "includeOtherFields": true,
        "assignments": {
          "assignments": [
            {
              "id": "d7-expected",
              "name": "montant_urssaf_attendu",
              "value": "={{ Math.round(Number($json.base_urssaf || 0) * Number($json.taux_urssaf || 0) * 100) / 100 }}",
              "type": "number"
            },
            {
              "id": "d7-gap",
              "name": "ecart_urssaf",
              "value": "={{ Math.round((Number($json.montant_urssaf_observe || 0) - (Number($json.base_urssaf || 0) * Number($json.taux_urssaf || 0))) * 100) / 100 }}",
              "type": "number"
            },
            {
              "id": "d7-control-status",
              "name": "statut_controle_j4",
              "value": "={{ Math.abs(Number($json.montant_urssaf_observe || 0) - (Number($json.base_urssaf || 0) * Number($json.taux_urssaf || 0))) > 0.02 ? 'exception' : 'conforme' }}",
              "type": "string"
            },
            {
              "id": "d7-proof",
              "name": "preuve_j4",
              "value": "={{ 'Ligne ' + $json.row_id + ' : montant URSSAF observé ' + $json.montant_urssaf_observe + ', attendu ' + (Math.round(Number($json.base_urssaf || 0) * Number($json.taux_urssaf || 0) * 100) / 100) + ', écart ' + (Math.round((Number($json.montant_urssaf_observe || 0) - (Number($json.base_urssaf || 0) * Number($json.taux_urssaf || 0))) * 100) / 100) }}",
              "type": "string"
            },
            {
              "id": "d7-summary-j4",
              "name": "resume_exception_j4",
              "value": "={{ 'Exception ' + $json.exception_id + ' (' + $json.statut_controle_j4 + ') sur ' + $json.row_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d7-day4-logic",
      "name": "Logique d'exceptions J4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        680,
        420
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "includeOtherFields": true,
        "assignments": {
          "assignments": [
            {
              "id": "d7-doc-question",
              "name": "question_documentaire",
              "value": "Quelle règle du corpus RH/paie décrit un écart entre montant URSSAF observé et montant attendu calculé comme base_urssaf * taux_urssaf ? Quelles preuves conserver pour justifier cet écart ? Cite la règle et les limites.",
              "type": "string"
            },
            {
              "id": "d7-doc-chatinput",
              "name": "chatInput",
              "value": "Quelle règle du corpus RH/paie décrit un écart entre montant URSSAF observé et montant attendu calculé comme base_urssaf * taux_urssaf ? Quelles preuves conserver pour justifier cet écart ? Source IDs prioritaires: URSSAF-CTRL-002, AUDIT-EVIDENCE-001. Mots-clés: montant_urssaf, base_urssaf, taux_urssaf, preuve attendue, audit exception.",
              "type": "string"
            },
            {
              "id": "d7-doc-query",
              "name": "question_sourcee",
              "value": "Quelle règle du corpus RH/paie décrit un écart entre montant URSSAF observé et montant attendu calculé comme base_urssaf * taux_urssaf ? Quelles preuves conserver pour justifier cet écart ? Source IDs prioritaires: URSSAF-CTRL-002, AUDIT-EVIDENCE-001. Mots-clés: montant_urssaf, base_urssaf, taux_urssaf, preuve attendue, audit exception.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d7-prepare-sourcing",
      "name": "Préparer sourcing J2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        980,
        420
      ]
    },
    {
      "parameters": {
        "query": "={{ $json.question_sourcee }}",
        "options": {
          "systemPromptTemplate": "Tu es un assistant documentaire pour audit paie/RH. Utilise uniquement le contexte récupéré ci-dessous.\n----------------\nContexte retrouvé: {context}\n----------------\nRègles de réponse :\n- Cherche en priorité `URSSAF-CTRL-002` pour les écarts entre montant observé et montant attendu.\n- Cherche aussi `AUDIT-EVIDENCE-001` pour la preuve attendue.\n- Cite uniquement les identifiants réellement trouvés dans le contexte.\n- Réponds en français avec : réponse courte, citations, niveau de confiance, limites.\n- Si la source est insuffisante, dis-le explicitement et n'invente rien."
        },
        "promptType": "auto"
      },
      "id": "d7-qa",
      "name": "Question and Answer Chain",
      "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
      "typeVersion": 1.7,
      "position": [
        1280,
        420
      ]
    },
    {
      "parameters": {
        "mode": "retrieve",
        "qdrantCollection": {
          "__rl": true,
          "value": "dsn_rh_paie_corpus_v1",
          "mode": "id"
        },
        "options": {
          "contentPayloadKey": "content",
          "metadataPayloadKey": "metadata"
        }
      },
      "id": "d7-qdrant-retriever",
      "name": "Retriever Qdrant",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        1280,
        720
      ],
      "credentials": {
        "qdrantApi": {
          "id": "qdrantFormation",
          "name": "Qdrant Formation"
        }
      }
    },
    {
      "parameters": {
        "topK": 8
      },
      "id": "d7-vector-store-retriever",
      "name": "Vector Store Retriever",
      "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
      "typeVersion": 1,
      "position": [
        1280,
        880
      ]
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {
          "baseURL": "={{ $env.OPENAI_GATEWAY_BASE_URL || 'https://api.openai.com/v1' }}"
        }
      },
      "id": "d7-embeddings",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1280,
        1040
      ],
      "credentials": {
        "openAiApi": {
          "id": "llBbatZjnM6zdCyD",
          "name": "OpenAI Liora Gateway"
        }
      }
    },
    {
      "parameters": {
        "mode": "manual",
        "includeOtherFields": true,
        "assignments": {
          "assignments": [
            {
              "id": "d7-source-answer",
              "name": "reponse_sourcee_j2",
              "value": "={{ $json.response ?? $json.text ?? $json.output ?? $json }}",
              "type": "string"
            },
            {
              "id": "d7-agent-input",
              "name": "chatInput",
              "value": "=Agent rédacteur : assemble les briques validées du projet final.\n\nException : {{ $json.exception_id }}\nContrôle J4 : {{ $json.resume_exception_j4 }}\nPreuve J4 : {{ $json.preuve_j4 }}\nSourcing J2 : {{ $json.reponse_sourcee_j2 }}\n\nRédige un brouillon court contenant : constat, impact, règle ou source citée, limite, décision humaine attendue.",
              "type": "string"
            },
            {
              "id": "d7-agent-system",
              "name": "systemMessage",
              "value": "Tu es l'agent rédacteur du projet final. Tu synthétises uniquement les briques déjà préparées : exception, preuve déterministe, réponse sourcée. Tu n'ajoutes aucun fait nouveau et tu explicites les limites. Réponds en français sous forme courte et exploitable par un auditeur paie.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d7-prepare-report",
      "name": "Préparer synthèse J5",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1580,
        420
      ]
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "={{ $json.systemMessage }}"
        }
      },
      "id": "d7-agent-redacteur",
      "name": "Agent rédacteur",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        1880,
        420
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "id"
        },
        "options": {
          "temperature": 0
        }
      },
      "id": "d7-openai",
      "name": "OpenAI Gateway",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1880,
        700
      ],
      "credentials": {
        "openAiApi": {
          "id": "llBbatZjnM6zdCyD",
          "name": "OpenAI Liora Gateway"
        }
      }
    },
    {
      "parameters": {
        "resume": "form",
        "formTitle": "Validation humaine — Jour 7",
        "formDescription": "Validez ou rejetez le brouillon final issu des briques J4, J2 et J5. Le workflow doit rester relançable sans étape cachée.",
        "formFields": {
          "values": [
            {
              "fieldType": "dropdown",
              "fieldLabel": "Décision",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Valider"
                  },
                  {
                    "option": "Rejeter"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldType": "textarea",
              "fieldLabel": "Commentaire",
              "requiredField": false
            }
          ]
        },
        "options": {}
      },
      "id": "d7-validation",
      "name": "Validation humaine",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2160,
        420
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "d7-decision",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json[\"Décision\"] }}",
              "rightValue": "Valider"
            }
          ]
        },
        "options": {}
      },
      "id": "d7-if-decision",
      "name": "Décision validée ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2400,
        420
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "d7-ok-status",
              "name": "statut",
              "value": "projet_final_valide",
              "type": "string"
            },
            {
              "id": "d7-ok-report",
              "name": "rapport_final",
              "value": "={{ $('Agent rédacteur').item.json.output ?? $('Agent rédacteur').item.json.text ?? $('Agent rédacteur').item.json }}",
              "type": "string"
            },
            {
              "id": "d7-ok-comment",
              "name": "commentaire_humain",
              "value": "={{ $json[\"Commentaire\"] ?? '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d7-valid",
      "name": "Projet validé",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2640,
        320
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "d7-ko-status",
              "name": "statut",
              "value": "projet_final_rejete",
              "type": "string"
            },
            {
              "id": "d7-ko-report",
              "name": "rapport_brouillon",
              "value": "={{ $('Agent rédacteur').item.json.output ?? $('Agent rédacteur').item.json.text ?? $('Agent rédacteur').item.json }}",
              "type": "string"
            },
            {
              "id": "d7-ko-comment",
              "name": "motif_rejet",
              "value": "={{ $json[\"Commentaire\"] ?? 'Motif non renseigné' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d7-rejected",
      "name": "Projet rejeté",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2640,
        520
      ]
    }
  ],
  "connections": {
    "Déclencheur Manuel": {
      "main": [
        [
          {
            "node": "Entrée de scénario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Entrée de scénario": {
      "main": [
        [
          {
            "node": "Logique d'exceptions J4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Logique d'exceptions J4": {
      "main": [
        [
          {
            "node": "Préparer sourcing J2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Préparer sourcing J2": {
      "main": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Question and Answer Chain": {
      "main": [
        [
          {
            "node": "Préparer synthèse J5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retriever Qdrant": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Retriever",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Retriever Qdrant",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Retriever": {
      "ai_retriever": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Gateway": {
      "ai_languageModel": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Agent rédacteur",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Préparer synthèse J5": {
      "main": [
        [
          {
            "node": "Agent rédacteur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent rédacteur": {
      "main": [
        [
          {
            "node": "Validation humaine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validation humaine": {
      "main": [
        [
          {
            "node": "Décision validée ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Décision validée ?": {
      "main": [
        [
          {
            "node": "Projet validé",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Projet rejeté",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "description": "Jour 7 - Projet final: assemblage réel des briques J4, J2 et J5 avec sourcing documentaire, synthèse finale et validation humaine."
  }
}
